<!DOCTYPE html>
<html >
<head>
    <meta name="vieport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>MEAN</title>
    <link rel="stylesheet" href="/app/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/app.css">
    <link rel="shortcut icon" type="image/x-icon"  href="app/favicon.ico">
</head>
<body>
    		<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">

					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">MyApp </a>
			</div>
       <div class="collapse navbar-collapse" id="mynavbar">
		   <ul class="nav navbar-nav">
				<li><a href="/users">All Employee</a></li>
				<li><a href="/users/add">Add Employee</a></li>
				
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#"><span class="glyphicon glyphicon-comment"></span><span class="badge badge-notify">1</span>Notification</a></li>
			</ul>
		</div>
	</div>
</nav>